<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Panel Admin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="overlay">

<div class="right" style="width:95%; margin:auto;">

<h2>📊 Solicitudes</h2>
<form method="post" style="margin-bottom:15px;">
<input type="text" name="busqueda" placeholder="Buscar por nombre o teléfono">
<button type="submit">Buscar</button>
</form>
<form method="post" style="margin-bottom:15px;">
<select name="estado">
<option value="">Filtrar por estado</option>
<option value="Recibido">Recibido</option>
<option value="En proceso">En proceso</option>
<option value="Listo">Listo</option>
</select>

<button type="submit">Filtrar</button>
</form>
<table border="1" width="100%" style="background:white; color:black;">
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Teléfono</th>
<th>Equipo</th>
<th>Problema</th>
<th>Estado</th>
<th>Acciones</th>
<th>WhatsApp</th>
</tr>

{% for fila in datos %}
<tr>
<td>{{ fila[0] }}</td>
<td>{{ fila[1] }}</td>
<td>{{ fila[3] }}</td>
<td>{{ fila[5] }}</td>
<td>{{ fila[6] }}</td>
<td>{{ fila[7] }}</td>

<td>
<div class="acciones">
<form action="/cambiar_estado/{{ fila[0] }}" method="post">

<select name="estado" onchange="this.form.submit()">

<option value="Recibido" {% if fila[7]=='Recibido' %}selected{% endif %}>Recibido</option>

<option value="En proceso" {% if fila[7]=='En proceso' %}selected{% endif %}>En proceso</option>

<option value="Listo" {% if fila[7]=='Listo' %}selected{% endif %}>Listo</option>

</select>

</form>
</div>
</td>

<td>
<a href="https://wa.me/{{ fila[3]|replace('+', '') }}?text=Hola%20{{ fila[1] | urlencode }},%20te%20escribimos%20de%20Mobilehouse%20sobre%20tu%20servicio"
target="_blank">

<img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" width="30">

</a>
</td>

</tr>
{% endfor %}

</table>

</div>

</div>

</body>
<div class="navbar">
<a href="/">🏠 Inicio</a>
<a href="/consulta">🔍 Consultar</a>
<a href="/admin">📊 Panel</a>
</div>
</html>